extends layout

block head

block content
  h1 Models
  div
    a(href='/admin/db/task') Task/Book
  div
    a(href='/admin/db/location') Location
  div
    a(href='/admin/db/monster_data') Monster Data
  div
    a(href='/admin/db/skill') Skill
  div
    a(href='/admin/db/item') Item
  div
    a(href='/admin/db/info') Info
