doctype html
html(lang='en')
  head
    title #{locals.title}
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
    != js("game_engine")
    != css("main")
    != css("game")
  body
    .container-column
      .flex-item
        h1 Problem Solve Daaz
      .flex-item
        .container-row
          .flex-item.flex-grow-3
            #panelFight
          .flex-item.flex-grow-1
            #statusBar
            p #{locals.message}
            #panelTask
            #panelBook
            #panelLocation
              select#locationSelect
            #panelFight
      .flex-item
        #logview
