.container-column {
  display: flex;
  flex-direction: column;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.flex-grow-3 {
  flex-grow: 3;
  flex-basis: 0;
}

.flex-grow-1 {
  flex-grow: 1;
  flex-basis: 0;
}

.flex-item {
  position: relative;
}

.centered {
  justify-content: center;
  text-align: center;
}

.align-items-center {
  align-items: center;
}
.align-content-center {
  align-content: center;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
.text-alert {
  color: red;
}

